/* ../../libs/bem-components/design/common.blocks/page/_theme/page_theme_normal.styl begin */
html {
  min-height: 100%;
}
.page_theme_normal {
  font: 13px/15px Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  color: #000;
  background: #fff;
}
/* ../../libs/bem-components/design/common.blocks/page/_theme/page_theme_normal.styl end */
/* ../../common.blocks/page/page.css begin */
.page {
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-name: bkg;
  animation-name: bkg;
  position: relative;
  background: #fff;
}
h1,
h2 {
  font-weight: normal;
}
/* ../../common.blocks/page/page.css end */
/* ../../common.blocks/invisible/invisible.css begin */
.invisible {
  display: none !important;
}
/* ../../common.blocks/invisible/invisible.css end */
/* ../../common.blocks/overlay/overlay.css begin */
.overlay {
  position: absolute;
  left: 400px;
  top: 100px;
  height: 700px;
  width: 600px;
  height: 300px;
}
/* ../../common.blocks/overlay/overlay.css end */
/* ../../common.blocks/title/title.css begin */
.title {
  font-weight: normal;
  line-height: 1.5;
}
/* ../../common.blocks/title/title.css end */
/* ../../common.blocks/input/input.css begin */
.input {
  width: 372px;
  margin-right: 12px;
}
/* ../../common.blocks/input/input.css end */
/* ../../libs/bem-components/design/common.blocks/input/_theme/input_theme_normal.styl begin */
.input_theme_normal {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  display: inline-block;
  background: rgba(0,0,0,0.2);
/* Decorative element (inner background) */
}
.input_theme_normal:before {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  content: '';
  background: #fff;
}
.input_theme_normal .input__box {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input_theme_normal .input__control {
  font: inherit;
  line-height: inherit;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  border: 0;
  outline: none;
  background: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
/* лишние отступы у текста */
/* нативный крестик */
}
.input_theme_normal .input__control::-webkit-search-decoration {
  -webkit-appearance: none;
}
.input_theme_normal .input__control::-webkit-search-cancel-button {
  display: none;
}
.input_theme_normal .input__control::-webkit-input-placeholder {
  color: #999;
  text-indent: 0;
}
.input_theme_normal .input__control::-moz-placeholder {
  opacity: 1;
  color: #999;
}
.input_theme_normal .input__control::-ms-clear {
  display: none;
}
.input_theme_normal.input_has-clear .input__control {
  text-overflow: ellipsis;
}
.input_theme_normal .input__clear {
  position: absolute;
  top: 0;
  right: 0;
  cursor: text;
  -webkit-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
  opacity: 0;
  background: 50% 50% no-repeat;
}
.input_theme_normal .input__clear_visible {
  opacity: 0.3;
}
.input_theme_normal .input__clear_visible:hover {
  cursor: pointer;
  opacity: 1;
}
.input_theme_normal.input_focused {
  z-index: 1;
  background: rgba(178,142,0,0.6);
  box-shadow: 0 0 10px #fc0;
}
.input_theme_normal.input_disabled {
  background: rgba(0,0,0,0.08);
}
.input_theme_normal.input_disabled:before,
.input_theme_normal.input_disabled .input__clear {
  display: none;
}
.input_theme_normal.input_disabled .input__box,
.input_theme_normal.input_disabled .input__control {
  color: rgba(0,0,0,0.4);
  cursor: default;
}
.input_theme_normal.input_size_s .input__clear,
.input_theme_normal.input_size_m .input__clear {
  width: 24px;
  height: 24px;
  background-image: url("../../libs/bem-components/design/common.blocks/input/_theme/_normal/clear_size_s.svg");
  background-position: 7px 50%;
}
.input_theme_normal.input_size_s {
  font-size: 13px;
  line-height: 16px;
}
.input_theme_normal.input_size_s .input__control {
  height: 24px;
  padding-left: 6px;
}
.input_theme_normal.input_size_s.input_has-clear .input__box {
  padding-right: 24px;
}
.input_theme_normal.input_size_m {
  font-size: 13px;
  line-height: 16px;
}
.input_theme_normal.input_size_m .input__control {
  height: 28px;
  padding-left: 8px;
}
.input_theme_normal.input_size_m.input_has-clear .input__box {
  padding-right: 28px;
}
.input_theme_normal.input_size_m .input__clear {
  width: 28px;
  height: 28px;
  background-position: 9px 50%;
}
.input_theme_normal.input_size_l .input__clear,
.input_theme_normal.input_size_xl .input__clear {
  width: 32px;
  height: 32px;
  background-image: url("../../libs/bem-components/design/common.blocks/input/_theme/_normal/clear_size_l.svg");
  background-position: 9px 50%;
}
.input_theme_normal.input_size_l {
  font-size: 15px;
  line-height: 18px;
}
.input_theme_normal.input_size_l .input__control {
  height: 32px;
  padding-left: 10px;
}
.input_theme_normal.input_size_l.input_has-clear .input__box {
  padding-right: 32px;
}
.input_theme_normal.input_size_xl {
  font-size: 18px;
  line-height: 22px;
}
.input_theme_normal.input_size_xl .input__control {
  height: 38px;
  padding-left: 12px;
}
.input_theme_normal.input_size_xl.input_has-clear .input__box {
  padding-right: 38px;
}
.input_theme_normal.input_size_xl .input__clear {
  width: 38px;
  height: 38px;
  background-position: 12px 50%;
}
.input_theme_normal.input_width_available {
  width: 100%;
}
.input_theme_normal.input_type_textarea {
  position: relative;
}
.input_theme_normal.input_type_textarea .input__control {
  display: block;
  height: 100%;
  margin: 0;
}
.input_theme_normal.input_type_textarea.input_disabled .input__control {
  resize: none;
}
.input_theme_normal.input_type_textarea.input_size_m .input__control {
  line-height: 18px;
  padding: 4px 6px;
}
.input_theme_normal.input_type_textarea.input_size_l .input__control {
  line-height: 20px;
  padding: 6px 8px;
}
.input_theme_normal.input_type_password .input__control {
  text-overflow: clip;
}
.control-group .input_theme_normal:before {
  right: 0;
}
.control-group > .input_theme_normal:last-child:before,
.control-group > :last-child .input_theme_normal:before {
  right: 1px;
}
/* ../../libs/bem-components/design/common.blocks/input/_theme/input_theme_normal.styl end */
/* ../../libs/bem-components/design/common.blocks/button/_theme/button_theme_normal.styl begin */
.button_theme_normal {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #000;
  border: 0;
  border-radius: 3px;
  outline: 0;
  background: rgba(0,0,0,0.2);
  text-align: center;
  white-space: nowrap;
/* Decorative element (inner background) */
}
.button_theme_normal::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.button_theme_normal .button__text {
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
.button_theme_normal .button__text {
/*
         * These rules fixes Opera 12+ && IE 9 bug with extra top margin when pressed
         * Warning: bug still can be reproduced by clicking on button's border
         * TODO: try to fix
         */
  position: relative;
  display: inline-block;
}
.button_theme_normal .icon {
  position: relative;
}
.button_theme_normal.button_type_link {
  text-decoration: none;
}
.button_theme_normal:before {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  content: '';
  border-radius: 2px;
  background: #fff;
}
.button_theme_normal.button_hovered {
  cursor: pointer;
  background: rgba(0,0,0,0.3);
}
.button_theme_normal.button_focused-hard {
  z-index: 1;
  background: rgba(178,142,0,0.6);
  box-shadow: 0 0 10px #fc0;
}
.button_theme_normal.button_pressed:before {
  background: #f6f5f3;
}
.button_theme_normal.button_checked {
  background: rgba(153,122,0,0.5);
}
.button_theme_normal.button_checked:before {
  background: #ffeba0;
}
.button_theme_normal.button_checked.button_pressed {
  background: rgba(129,103,0,0.6);
}
.button_theme_normal.button_checked.button_pressed:before {
  background: #fee481;
}
.button_theme_normal.button_checked.button_hovered {
  background: rgba(129,103,0,0.6);
}
.button_theme_normal.button_view_action {
  background: rgba(191,153,0,0.8);
}
.button_theme_normal.button_view_action:before {
  background: #ffdb4d;
}
.button_theme_normal.button_view_action.button_pressed:before {
  background: #fc0;
}
.button_theme_normal.button_view_action.button_hovered {
  background: rgba(159,127,0,0.8);
}
.button_theme_normal.button_view_pseudo {
  overflow: hidden;
  background: 0;
}
.button_theme_normal.button_view_pseudo:before {
  background: 0;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
}
.button_theme_normal.button_view_pseudo.button_hovered:before {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
}
.button_theme_normal.button_view_pseudo.button_focused-hard:before {
  box-shadow: 0 0 0 1px rgba(178,142,0,0.6);
}
.button_theme_normal.button_view_pseudo.button_pressed:before {
  background: rgba(0,0,0,0.05);
}
.button_theme_normal.button_view_pseudo.button_checked:before {
  background: #ffeba0;
  box-shadow: 0 0 0 1px rgba(153,122,0,0.5);
}
.button_theme_normal.button_view_pseudo.button_checked.button_hovered:before {
  box-shadow: 0 0 0 1px rgba(129,103,0,0.6);
}
.button_theme_normal.button_view_pseudo.button_checked.button_pressed:before {
  background: #fee481;
  box-shadow: 0 0 0 1px rgba(129,103,0,0.6);
}
.button_theme_normal.button_disabled {
  background: rgba(0,0,0,0.08);
}
.button_theme_normal.button_disabled:before {
  display: none;
}
.button_theme_normal.button_disabled.button_checked:before {
  display: block;
  background: #ffeba0;
}
.button_theme_normal.button_disabled .button__text {
  color: #aaa;
}
.button_theme_normal.button_disabled .icon {
  opacity: 0.3;
}
.button_theme_normal.button_size_s {
  font-size: 13px;
  line-height: 24px;
}
.button_theme_normal.button_size_s .icon {
  width: 24px;
}
.button_theme_normal.button_size_s .button__text {
  margin: 0 10px;
}
.button_theme_normal.button_size_m {
  font-size: 13px;
  line-height: 28px;
}
.button_theme_normal.button_size_m .icon {
  width: 28px;
}
.button_theme_normal.button_size_m .button__text {
  margin: 0 13px;
}
.button_theme_normal.button_size_l {
  font-size: 15px;
  line-height: 32px;
}
.button_theme_normal.button_size_l .icon {
  width: 32px;
}
.button_theme_normal.button_size_l .button__text {
  margin: 0 15px;
}
.button_theme_normal.button_size_xl {
  font-size: 18px;
  line-height: 38px;
}
.button_theme_normal.button_size_xl .icon {
  width: 38px;
}
.button_theme_normal.button_size_xl .button__text {
  margin: 0 18px;
}
.button_theme_normal .icon + .button__text {
  margin-left: 0;
}
.button_theme_normal .button__text:not(:last-child) {
  margin-right: 0;
}
.control-group .button_theme_normal {
  border-radius: 0;
}
.control-group .button_theme_normal:before {
  right: 0;
  border-radius: 0;
}
.control-group .button_theme_normal.button_checked:before {
  left: 1px;
  right: 1px;
}
.control-group > .button_theme_normal:first-child,
.control-group > :first-child .button_theme_normal {
  border-radius: 3px 0 0 3px;
}
.control-group > .button_theme_normal:first-child:before,
.control-group > :first-child .button_theme_normal:before {
  border-radius: 2px 0 0 2px;
}
.control-group > .button_theme_normal:last-child,
.control-group > :last-child .button_theme_normal {
  border-radius: 0 3px 3px 0;
}
.control-group > .button_theme_normal:last-child:before,
.control-group > :last-child .button_theme_normal:before {
  border-radius: 0 2px 2px 0;
  right: 1px;
}
.control-group > :only-child .button_theme_normal {
  border-radius: 3px;
}
.control-group > :only-child .button_theme_normal:before {
  border-radius: 2px;
}
/* ../../libs/bem-components/design/common.blocks/button/_theme/button_theme_normal.styl end */
/* ../../common.blocks/row/row.css begin */
.row {
  padding-top: 12px;
}
/* ../../common.blocks/row/row.css end */
/* ../../libs/bem-components/design/common.blocks/checkbox/_theme/checkbox_theme_normal.styl begin */
.checkbox_theme_normal {
  font-family: Arial, Helvetica, sans-serif;
}
.checkbox_theme_normal:hover {
  cursor: pointer;
}
.checkbox_theme_normal .checkbox__control {
  position: absolute;
  z-index: -1;
  margin: 0;
  opacity: 0;
}
.checkbox_theme_normal .checkbox__box {
  position: relative;
  display: inline-block;
  border-radius: 3px;
  background: rgba(0,0,0,0.2);
}
.checkbox_theme_normal .checkbox__box:before {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  content: '';
  border-radius: 2px;
  background: #fff;
}
.checkbox_theme_normal .checkbox__box:after {
  position: absolute;
  top: -5px;
  left: 2px;
  content: '';
  background-image: url("../../libs/bem-components/design/common.blocks/theme/_normal/tip.svg");
  background-size: 100%;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.05s ease-out, opacity 0.05s ease-out;
  transition: transform 0.05s ease-out, opacity 0.05s ease-out;
}
.checkbox_theme_normal.checkbox_size_m {
  font-size: 13px;
}
.checkbox_theme_normal.checkbox_size_m .checkbox__box {
  line-height: 14px;
  top: 2px;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}
.checkbox_theme_normal.checkbox_size_m .checkbox__box:after {
  width: 15px;
  height: 15px;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.checkbox_theme_normal.checkbox_size_l {
  font-size: 15px;
}
.checkbox_theme_normal.checkbox_size_l .checkbox__box {
  line-height: 17px;
  top: 3px;
  width: 17px;
  height: 17px;
  margin-right: 7px;
}
.checkbox_theme_normal.checkbox_size_l .checkbox__box:after {
  width: 18px;
  height: 18px;
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}
.checkbox_theme_normal.checkbox_checked .checkbox__box {
  background: rgba(153,122,0,0.5);
}
.checkbox_theme_normal.checkbox_checked .checkbox__box:before {
  background: #ffeba0;
}
.checkbox_theme_normal.checkbox_checked .checkbox__box:after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
.checkbox_theme_normal.checkbox_focused .checkbox__box {
  box-shadow: 0 0 10px #fc0;
}
.checkbox_theme_normal.checkbox_hovered .checkbox__box {
  background: rgba(0,0,0,0.3);
}
.checkbox_theme_normal.checkbox_hovered.checkbox_checked .checkbox__box {
  background: rgba(129,103,0,0.6);
}
.checkbox_theme_normal.checkbox_disabled {
  cursor: default;
  color: #999;
}
.checkbox_theme_normal.checkbox_disabled .checkbox__box {
  background: rgba(0,0,0,0.08);
}
.checkbox_theme_normal.checkbox_disabled .checkbox__box:before {
  display: none;
}
.checkbox_theme_normal.checkbox_disabled.checkbox_checked .checkbox__box:after {
  opacity: 0.4;
}
.checkbox_theme_normal.checkbox_type_button {
  display: inline-block;
}
.checkbox_theme_normal.checkbox_type_line.checkbox_size_m {
  margin-right: 13px;
}
.checkbox_theme_normal.checkbox_type_line.checkbox_size_l {
  margin-right: 15px;
}
.checkbox_theme_normal.checkbox_type_line:last-child {
  margin-right: 0;
}
/* ../../libs/bem-components/design/common.blocks/checkbox/_theme/checkbox_theme_normal.styl end */
/* ../../libs/bem-components/common.blocks/select/select.styl begin */
.select {
  display: inline-block;
}
/* ../../libs/bem-components/common.blocks/select/select.styl end */
/* ../../common.blocks/select/select.css begin */
.select {
  margin-right: 12px;
}
/* ../../common.blocks/select/select.css end */
/* ../../libs/bem-components/common.blocks/menu/menu.styl begin */
.menu {
  overflow-y: auto;
}
/* ../../libs/bem-components/common.blocks/menu/menu.styl end */
/* ../../libs/bem-components/common.blocks/popup/popup.styl begin */
.popup {
  position: absolute;
}
/* ../../libs/bem-components/common.blocks/popup/popup.styl end */
/* ../../libs/bem-components/design/common.blocks/select/_theme/select_theme_normal.styl begin */
.select_theme_normal {
  max-width: 100%;
  vertical-align: bottom;
}
.select_theme_normal .select__button {
  width: 100%;
  text-align: left;
  vertical-align: top;
}
.select_theme_normal .select__button .button__text {
  display: block;
}
.select_theme_normal .select__button .button__text:empty:before {
  content: '\00a0';
}
.select_theme_normal .select__button.button_size_s .button__text {
  padding-right: 27px;
}
.select_theme_normal .select__button.button_size_s .icon {
  width: 25px;
}
.select_theme_normal .select__button.button_size_m .button__text {
  padding-right: 28px;
}
.select_theme_normal .select__button.button_size_m .icon {
  width: 29px;
}
.select_theme_normal .select__button.button_size_l .button__text {
  padding-right: 32px;
}
.select_theme_normal .select__button.button_size_l .icon {
  width: 33px;
}
.select_theme_normal .select__button.button_size_xl .button__text {
  padding-right: 38px;
}
.select_theme_normal .select__button.button_size_xl .icon {
  width: 39px;
}
.select_theme_normal .select__tick {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../../libs/bem-components/design/common.blocks/theme/_normal/arrow.svg");
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
}
.select_theme_normal.select_size_s .select__tick {
  background-image: url("../../libs/bem-components/design/common.blocks/theme/_normal/arrow-s.svg");
}
.select_theme_normal.select_opened .select__tick {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.select_theme_normal.select_width_available {
  width: 100%;
}
/* ../../libs/bem-components/design/common.blocks/select/_theme/select_theme_normal.styl end */
/* ../../libs/bem-components/design/common.blocks/popup/_theme/popup_theme_normal.styl begin */
.popup_theme_normal {
  display: none;
  visibility: hidden;
  margin: -1000px 0 0 -1000px;
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 10px 20px -5px rgba(0,0,0,0.4);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
/* Divided into two parts for better optimization */
}
.popup_theme_normal.popup_js_inited {
  display: block;
}
.popup_theme_normal.popup_visible {
  visibility: visible;
  margin: 0;
}
.popup_theme_normal.popup_direction_bottom-left {
  -webkit-animation-name: popup_theme_normal_bottom;
  animation-name: popup_theme_normal_bottom;
}
.popup_theme_normal.popup_direction_bottom-center {
  -webkit-animation-name: popup_theme_normal_bottom;
  animation-name: popup_theme_normal_bottom;
}
.popup_theme_normal.popup_direction_bottom-right {
  -webkit-animation-name: popup_theme_normal_bottom;
  animation-name: popup_theme_normal_bottom;
}
.popup_theme_normal.popup_direction_bottom-left.popup_visible {
  -webkit-animation-name: popup_theme_normal_bottom_visible;
  animation-name: popup_theme_normal_bottom_visible;
}
.popup_theme_normal.popup_direction_bottom-center.popup_visible {
  -webkit-animation-name: popup_theme_normal_bottom_visible;
  animation-name: popup_theme_normal_bottom_visible;
}
.popup_theme_normal.popup_direction_bottom-right.popup_visible {
  -webkit-animation-name: popup_theme_normal_bottom_visible;
  animation-name: popup_theme_normal_bottom_visible;
}
.popup_theme_normal.popup_direction_top-left {
  -webkit-animation-name: popup_theme_normal_top;
  animation-name: popup_theme_normal_top;
}
.popup_theme_normal.popup_direction_top-center {
  -webkit-animation-name: popup_theme_normal_top;
  animation-name: popup_theme_normal_top;
}
.popup_theme_normal.popup_direction_top-right {
  -webkit-animation-name: popup_theme_normal_top;
  animation-name: popup_theme_normal_top;
}
.popup_theme_normal.popup_direction_top-left.popup_visible {
  -webkit-animation-name: popup_theme_normal_top_visible;
  animation-name: popup_theme_normal_top_visible;
}
.popup_theme_normal.popup_direction_top-center.popup_visible {
  -webkit-animation-name: popup_theme_normal_top_visible;
  animation-name: popup_theme_normal_top_visible;
}
.popup_theme_normal.popup_direction_top-right.popup_visible {
  -webkit-animation-name: popup_theme_normal_top_visible;
  animation-name: popup_theme_normal_top_visible;
}
.popup_theme_normal.popup_direction_right-top {
  -webkit-animation-name: popup_theme_normal_right;
  animation-name: popup_theme_normal_right;
}
.popup_theme_normal.popup_direction_right-center {
  -webkit-animation-name: popup_theme_normal_right;
  animation-name: popup_theme_normal_right;
}
.popup_theme_normal.popup_direction_right-bottom {
  -webkit-animation-name: popup_theme_normal_right;
  animation-name: popup_theme_normal_right;
}
.popup_theme_normal.popup_direction_right-top.popup_visible {
  -webkit-animation-name: popup_theme_normal_right_visible;
  animation-name: popup_theme_normal_right_visible;
}
.popup_theme_normal.popup_direction_right-center.popup_visible {
  -webkit-animation-name: popup_theme_normal_right_visible;
  animation-name: popup_theme_normal_right_visible;
}
.popup_theme_normal.popup_direction_right-bottom.popup_visible {
  -webkit-animation-name: popup_theme_normal_right_visible;
  animation-name: popup_theme_normal_right_visible;
}
.popup_theme_normal.popup_direction_left-top {
  -webkit-animation-name: popup_theme_normal_left;
  animation-name: popup_theme_normal_left;
}
.popup_theme_normal.popup_direction_left-center {
  -webkit-animation-name: popup_theme_normal_left;
  animation-name: popup_theme_normal_left;
}
.popup_theme_normal.popup_direction_left-bottom {
  -webkit-animation-name: popup_theme_normal_left;
  animation-name: popup_theme_normal_left;
}
.popup_theme_normal.popup_direction_left-top.popup_visible {
  -webkit-animation-name: popup_theme_normal_left_visible;
  animation-name: popup_theme_normal_left_visible;
}
.popup_theme_normal.popup_direction_left-center.popup_visible {
  -webkit-animation-name: popup_theme_normal_left_visible;
  animation-name: popup_theme_normal_left_visible;
}
.popup_theme_normal.popup_direction_left-bottom.popup_visible {
  -webkit-animation-name: popup_theme_normal_left_visible;
  animation-name: popup_theme_normal_left_visible;
}
@-webkit-keyframes popup_theme_normal_bottom {
  0% {
    visibility: visible;
    margin: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    visibility: hidden;
    margin: -1000px 0 0 -1000px;
    opacity: 0;
  }
}
@keyframes popup_theme_normal_bottom {
  0% {
    visibility: visible;
    margin: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    visibility: hidden;
    margin: -1000px 0 0 -1000px;
    opacity: 0;
  }
}
@-webkit-keyframes popup_theme_normal_bottom_visible {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes popup_theme_normal_bottom_visible {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes popup_theme_normal_top {
  0% {
    visibility: visible;
    margin: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    visibility: hidden;
    margin: -1000px 0 0 -1000px;
    opacity: 0;
  }
}
@keyframes popup_theme_normal_top {
  0% {
    visibility: visible;
    margin: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    visibility: hidden;
    margin: -1000px 0 0 -1000px;
    opacity: 0;
  }
}
@-webkit-keyframes popup_theme_normal_top_visible {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes popup_theme_normal_top_visible {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes popup_theme_normal_right {
  0% {
    visibility: visible;
    margin: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    visibility: hidden;
    margin: -1000px 0 0 -1000px;
    opacity: 0;
  }
}
@keyframes popup_theme_normal_right {
  0% {
    visibility: visible;
    margin: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    visibility: hidden;
    margin: -1000px 0 0 -1000px;
    opacity: 0;
  }
}
@-webkit-keyframes popup_theme_normal_right_visible {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes popup_theme_normal_right_visible {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes popup_theme_normal_left {
  0% {
    visibility: visible;
    margin: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    visibility: hidden;
    margin: -1000px 0 0 -1000px;
    opacity: 0;
  }
}
@keyframes popup_theme_normal_left {
  0% {
    visibility: visible;
    margin: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    margin: 0;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    visibility: hidden;
    margin: -1000px 0 0 -1000px;
    opacity: 0;
  }
}
@-webkit-keyframes popup_theme_normal_left_visible {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes popup_theme_normal_left_visible {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
/* ../../libs/bem-components/design/common.blocks/popup/_theme/popup_theme_normal.styl end */
/* ../../libs/bem-components/design/common.blocks/menu/_theme/menu_theme_normal.styl begin */
.menu_theme_normal {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  background: #fff;
}
.menu_theme_normal.menu_size_s {
  font-size: 13px;
  line-height: 24px;
  padding: 3px 0;
}
.menu_theme_normal.menu_size_s .menu-item + .menu__group {
  margin-top: 3px;
}
.menu_theme_normal.menu_size_s .menu__group {
  padding: 3px 0;
}
.menu_theme_normal.menu_size_s .menu__group-title {
  padding: 0 10px;
}
.menu_theme_normal.menu_size_m {
  font-size: 13px;
  line-height: 24px;
  padding: 4px 0;
}
.menu_theme_normal.menu_size_m .menu-item + .menu__group {
  margin-top: 4px;
}
.menu_theme_normal.menu_size_m .menu__group {
  padding: 4px 0;
}
.menu_theme_normal.menu_size_m .menu__group-title {
  padding: 0 13px;
}
.menu_theme_normal.menu_size_l {
  font-size: 15px;
  line-height: 28px;
  padding: 5px 0;
}
.menu_theme_normal.menu_size_l .menu-item + .menu__group {
  margin-top: 5px;
}
.menu_theme_normal.menu_size_l .menu__group {
  padding: 5px 0;
}
.menu_theme_normal.menu_size_l .menu__group-title {
  padding: 0 15px;
}
.menu_theme_normal.menu_size_xl {
  font-size: 15px;
  line-height: 32px;
  padding: 6px 0;
}
.menu_theme_normal.menu_size_xl .menu-item + .menu__group {
  margin-top: 6px;
}
.menu_theme_normal.menu_size_xl .menu__group {
  padding: 6px 0;
}
.menu_theme_normal.menu_size_xl .menu__group-title {
  padding: 0 20px;
}
.menu_theme_normal .menu__group {
  border: 1px solid rgba(0,0,0,0.1);
  border-width: 1px 0;
}
.menu_theme_normal .menu__group-title {
  color: #999;
}
.menu_theme_normal .menu__group + .menu__group {
  border-top: 0;
}
.menu_theme_normal .menu__group:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.menu_theme_normal .menu__group:first-child {
  padding-top: 0;
  border-top: 0;
}
/* ../../libs/bem-components/design/common.blocks/menu/_theme/menu_theme_normal.styl end */
/* ../../libs/bem-components/design/common.blocks/menu-item/_theme/menu-item_theme_normal.styl begin */
.menu-item_theme_normal {
  position: relative;
  white-space: nowrap;
}
.menu-item_theme_normal.menu-item_disabled {
  opacity: 0.3;
}
.menu-item_theme_normal .link_disabled {
  cursor: text;
}
.menu-item_theme_normal.menu-item_checked {
  background: 0 50% no-repeat url("../../libs/bem-components/design/common.blocks/theme/_normal/tip.svg");
}
.menu-item_theme_normal.menu-item_hovered {
  cursor: pointer;
  background-color: #ffeba0;
}
.menu-item_theme_normal.menu-item_type_link .link {
  text-decoration: none;
  color: inherit;
  outline: none;
}
.menu-item_theme_normal .icon {
  width: 16px;
  margin-right: 5px;
}
.menu_size_s .menu-item_theme_normal {
  padding: 0 10px;
  background-size: 14px 14px;
  background-position: 10px 50%;
}
.menu_size_s .menu__group + .menu-item_theme_normal {
  margin-top: 3px;
}
.menu_size_s[class*='menu_mode'] .menu-item_theme_normal,
.menu_size_s .menu__group-title ~ .menu-item_theme_normal {
  padding: 0 30px;
}
.menu_size_m .menu-item_theme_normal {
  padding: 0 13px;
  background-size: 14px 14px;
  background-position: 13px 50%;
}
.menu_size_m .menu__group + .menu-item_theme_normal {
  margin-top: 4px;
}
.menu_size_m[class*='menu_mode'] .menu-item_theme_normal,
.menu_size_m .menu__group-title ~ .menu-item_theme_normal {
  padding: 0 30px;
}
.menu_size_l .menu-item_theme_normal {
  padding: 0 15px;
  background-size: 15px 15px;
  background-position: 15px 50%;
}
.menu_size_l .menu__group + .menu-item_theme_normal {
  margin-top: 5px;
}
.menu_size_l[class*='menu_mode'] .menu-item_theme_normal,
.menu_size_l .menu__group-title ~ .menu-item_theme_normal {
  padding: 0 34px;
}
.menu_size_xl .menu-item_theme_normal {
  padding: 0 20px;
  background-size: 15px 15px;
  background-position: 20px 50%;
}
.menu_size_xl .menu__group + .menu-item_theme_normal {
  margin-top: 6px;
}
.menu_size_xl[class*='menu_mode'] .menu-item_theme_normal,
.menu_size_xl .menu__group-title ~ .menu-item_theme_normal {
  padding: 0 40px;
}
/* ../../libs/bem-components/design/common.blocks/menu-item/_theme/menu-item_theme_normal.styl end */
/* ../../libs/bem-components/common.blocks/icon/icon.styl begin */
.icon {
  display: inline-block;
  text-align: center;
  background: 50% no-repeat;
/* Hack for correct baseline positioning */
/*
     * Чтобы иконка правильно позиционировалась внутри блочного контекста,
     * нужно прописать родителю свойство line-height со значением, равным высоте иконки
     */
}
.icon:empty:after {
  visibility: hidden;
  content: '\00A0';
}
.icon .image {
  margin: -5.18em 0 -5em;
/* 0.18 — magic number, empirically found */
  vertical-align: middle;
}
/* ../../libs/bem-components/common.blocks/icon/icon.styl end */
/* ../../libs/bem-components/design/common.blocks/radio-group/_theme/radio-group_theme_normal.styl begin */
.radio-group_theme_normal {
  display: inline-block;
}
.radio-group_theme_normal.radio-group_size_m {
  line-height: 24px;
}
.radio-group_theme_normal.radio-group_size_l {
  line-height: 30px;
}
.radio-group_theme_normal.radio-group_type_button {
  display: inline-block;
  white-space: nowrap;
}
.radio-group_theme_normal .radio_checked + .radio .button:before {
  left: 0;
}
/* ../../libs/bem-components/design/common.blocks/radio-group/_theme/radio-group_theme_normal.styl end */
/* ../../libs/bem-components/design/common.blocks/radio/_theme/radio_theme_normal.styl begin */
.radio_theme_normal {
  font-family: Arial, Helvetica, sans-serif;
}
.radio_theme_normal:hover {
  cursor: pointer;
}
.radio_theme_normal .radio__control {
  position: absolute;
  z-index: -1;
  margin: 0;
  opacity: 0;
}
.radio_theme_normal .radio__box {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  background: rgba(0,0,0,0.2);
}
.radio_theme_normal .radio__box:before {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  content: '';
  border-radius: 50%;
  background: #fff;
}
.radio_theme_normal.radio_size_m {
  font-size: 13px;
}
.radio_theme_normal.radio_size_m .radio__box {
  line-height: 14px;
  top: 2px;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}
.radio_theme_normal.radio_size_m .radio__box:after {
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
}
.radio_theme_normal.radio_size_l {
  font-size: 15px;
}
.radio_theme_normal.radio_size_l .radio__box {
  line-height: 17px;
  top: 3px;
  width: 17px;
  height: 17px;
  margin-right: 7px;
}
.radio_theme_normal.radio_size_l .radio__box:after {
  top: 5px;
  left: 5px;
  width: 7px;
  height: 7px;
}
.radio_theme_normal.radio_checked .radio__box {
  background: rgba(153,122,0,0.5);
}
.radio_theme_normal.radio_checked .radio__box:before {
  background: #ffeba0;
}
.radio_theme_normal.radio_checked .radio__box:after {
  position: absolute;
  border-radius: 50%;
  background: #000;
  content: '';
}
.radio_theme_normal.radio_focused .radio__box {
  box-shadow: 0 0 10px #fc0;
}
.radio_theme_normal.radio_hovered .radio__box {
  background: rgba(0,0,0,0.3);
}
.radio_theme_normal.radio_hovered.radio_checked .radio__box {
  background: rgba(129,103,0,0.6);
}
.radio_theme_normal.radio_disabled {
  cursor: default;
  color: #999;
}
.radio_theme_normal.radio_disabled .radio__box {
  background: rgba(0,0,0,0.08);
}
.radio_theme_normal.radio_disabled .radio__box:before {
  display: none;
}
.radio_theme_normal.radio_disabled .radio__box:after {
  background: rgba(0,0,0,0.4);
}
.radio_theme_normal.radio_type_button {
  display: inline-block;
}
.radio_theme_normal.radio_type_line.radio_size_m {
  margin-right: 13px;
}
.radio_theme_normal.radio_type_line.radio_size_l {
  margin-right: 15px;
}
.radio_theme_normal.radio_type_line:last-child {
  margin-right: 0;
}
/* ../../libs/bem-components/design/common.blocks/radio/_theme/radio_theme_normal.styl end */
/* ../../libs/bem-components/common.blocks/radio/_type/radio_type_button.styl begin */
.radio.radio_type_button .radio__control {
  position: absolute;
  visibility: hidden;
}
/* ../../libs/bem-components/common.blocks/radio/_type/radio_type_button.styl end */
/* ../../common.blocks/spin/spin.css begin */
.spin {
  margin: 1em 0 0 222px;
}
/* ../../common.blocks/spin/spin.css end */
/* ../../libs/bem-components/design/common.blocks/spin/_theme/spin_theme_normal.styl begin */
.spin_theme_normal {
  position: absolute;
  display: inline-block;
  visibility: hidden;
  color: transparent;
}
.spin_theme_normal:before {
  position: absolute;
  left: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  content: '';
  border: 2px solid;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
}
.spin_theme_normal:after {
  content: '\00A0';
}
.spin_theme_normal.spin_progress {
  position: relative;
  visibility: visible;
  -webkit-animation: spin_theme_normal 1s infinite linear;
  animation: spin_theme_normal 1s infinite linear;
  background: 0 0 no-repeat url("../../libs/bem-components/design/common.blocks/spin/_theme/spin_theme_normal.gif");
  background: -webkit-linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0)) !important;
  background: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0)) !important;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
/* Accelerate animation */
}
.spin_theme_normal.spin_size_xs {
  line-height: 16px;
  width: 16px;
  height: 16px;
  background-position: 0 0px;
}
.spin_theme_normal.spin_size_xs:before {
  height: 16px;
}
.spin_theme_normal.spin_size_s {
  line-height: 24px;
  width: 24px;
  height: 24px;
  background-position: 0 -17px;
}
.spin_theme_normal.spin_size_s:before {
  height: 24px;
}
.spin_theme_normal.spin_size_m {
  line-height: 28px;
  width: 28px;
  height: 28px;
  background-position: 0 -42px;
}
.spin_theme_normal.spin_size_m:before {
  height: 28px;
}
.spin_theme_normal.spin_size_l {
  line-height: 32px;
  width: 32px;
  height: 32px;
  background-position: 0 -71px;
}
.spin_theme_normal.spin_size_l:before {
  height: 32px;
}
.spin_theme_normal.spin_size_xl {
  line-height: 38px;
  width: 38px;
  height: 38px;
  background-position: 0 -104px;
}
.spin_theme_normal.spin_size_xl:before {
  height: 38px;
}
/* ../../libs/bem-components/design/common.blocks/spin/_theme/spin_theme_normal.styl end */
/* ../../libs/bem-components/common.blocks/image/image.styl begin */
.image {
  border: 0;
}
/* ../../libs/bem-components/common.blocks/image/image.styl end */
/* ../../libs/bem-components/common.blocks/checkbox/_type/checkbox_type_button.styl begin */
.checkbox.checkbox_type_button .checkbox__control {
  position: absolute;
  visibility: hidden;
}
@-webkit-keyframes bkg {
  0% {
    background: #fff;
  }
  10% {
    background: #fff;
  }
  20% {
    background: #3779bc;
  }
  30% {
    background: #6fc3e0;
  }
  40% {
    background: #6fc3e0;
  }
  50% {
    background: #ffdb4a;
  }
  60% {
    background: #ffba59;
  }
  70% {
    background: #9d65a9;
  }
  80% {
    background: #6c65a9;
  }
  90% {
    background: #b0a79a;
  }
  100% {
    background: #fff;
  }
}
@keyframes bkg {
  0% {
    background: #fff;
  }
  10% {
    background: #fff;
  }
  20% {
    background: #3779bc;
  }
  30% {
    background: #6fc3e0;
  }
  40% {
    background: #6fc3e0;
  }
  50% {
    background: #ffdb4a;
  }
  60% {
    background: #ffba59;
  }
  70% {
    background: #9d65a9;
  }
  80% {
    background: #6c65a9;
  }
  90% {
    background: #b0a79a;
  }
  100% {
    background: #fff;
  }
}
@-webkit-keyframes spin_theme_normal {
  from {
    color: #fc0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    color: #fc0;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin_theme_normal {
  from {
    color: #fc0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    color: #fc0;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
